<main class="p-5">
    <div *ngIf="products.length === 0">
        <h2 class="">Bạn chưa có đơn hàng nào</h2>
    </div>
    <p-table
        *ngIf="products.length > 0"
        able
        [value]="products"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="caption">
            <h2 class="flex align-items-center justify-content-between">
                Đơn hàng
            </h2>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Mã đơn hàng</th>
                  <th class="text-center">Thông tin giao hàng</th>
                    <th class="text-center">Ngày mua</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Hình thức thanh toán</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Tổng tiền</th>
                    <th class="text-center">Hành động</th>
                </tr>
            </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td class="text-center">{{ product.orderId }}</td>
                <td >
                    <b>Người nhận</b> : {{product.name}} <br>
                    <b>Địa chỉ</b> : {{product.address}} <br>
                    <b>Số điện thoạt</b> : {{product.phoneNumber}} <br>
                </td>
                <td class="text-center">{{ product.createdAt }}</td>
                <td class="text-center">{{ product.products.length }}</td>
                <td class="text-center">
                    {{ payment_method[product.payment] }}
                </td>
                <td class="text-center">{{ order_status[+product.status] }}</td>
                <td class="text-center">${{ product.totalOrderPrice }}</td>
           
                <td>
                    <div class="custom_btn">
                            <p-button
                            *ngIf="product.status !== '4'"
                            (click)="
                                showDialog(
                                    product._id,
                                    product.status
                                )
                            "
                            label="Thay đổi trạng thái"
                        ></p-button>
                        <p-button label="Xem chi tiết" (click)="showDetail(product._id)"></p-button>
                    </div>
                </td>
            </tr>
                <!-- <tr>
                    <td class="text-center">{{ item.name }}</td>
                    <td class="text-center">{{ product.createdAt }}</td>
                    <td class="text-center">${{ item.price }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td class="text-center">${{ item.totalPriceItem }}</td>
                    <td>{{ order_status[+product.status] }}</td>
                    <td>
                        <div class="custom_btn">
                                <p-button
                                *ngIf="item.status !== '4'"
                                (click)="
                                    showDialog(
                                        product._id,
                                        item._id,
                                        product.status
                                    )
                                "
                                label="Thay đổi trạng thái"
                            ></p-button>
                            <p-button label="Xem chi tiết" (click)="showDetail(product._id,item._id)"></p-button>
                        </div>
                    </td>
                </tr> -->
        </ng-template>
    </p-table>
    <p-dialog
        [modal]="true"
        header="Thay đổi trạng thái đơn hàng"
        [(visible)]="visible"
        [style]="{ height: '50%' }"
    >
        <div>
            <form [formGroup]="formGroup" (ngSubmit)="updateStatusOrder()">
                <label class="select" for="slct">
                    <!-- <select id="slct" [(ngModel)]="nrSelect">
                     <option value="1">Chưa giải quyết</option>
                     <option value="2">Đang xử lý</option>

                       
                    </select> -->
                    <select formControlName="status">
                        <option
                            *ngFor="let status of order_status | keyvalue"
                            [value]="status.key"
                        >
                            {{ status.value }}
                        </option>
                    </select>
                    <svg>
                        <use xlink:href="#select-arrow-down"></use>
                    </svg>
                </label>
                <!-- SVG Sprites-->
                <svg class="sprites">
                    <symbol id="select-arrow-down" viewbox="0 0 10 6">
                        <polyline points="1 1 5 5 9 1"></polyline>
                    </symbol>
                </svg>
                <div class="flex justify-content-end mt-3">
                    <p-button
                        label="Xác nhận"
                        class="mt-3"
                        type="submit"
                    ></p-button>
                </div>
            </form>
        </div>
    </p-dialog>


    <p-dialog
    [modal]="true"
    header="Chi tiết đơn hàng"
    [(visible)]="statusDetail"
    [style]="{ height: '100%',width:'100vw' }"
>
    <div>
        <p-table
        *ngIf="products.length > 0"
        able
        [value]="products"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
      
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Ảnh</th>
                <th class="text-center">Giá</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Thành tiền</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <ng-container *ngFor="let item of product.products">
                <tr *ngIf=" product._id===orderIdDetail">
              
                    <td class="text-center">{{ item.name }}</td>
                     <td class="text-center">
                        <img
                            src="{{ item.image }}"
                            width="100"
                            class="shadow-4"
                            alt=""
                        />
                    </td> 
                    <td class="text-center">${{ item.price }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td class="text-center">${{ item.totalPriceItem }}</td>
                 
                    </tr>
            </ng-container>
        </ng-template>
    </p-table>
    </div>
</p-dialog>

</main>
