
<div class="cart">
   <div class="">
       <div class="cart-title">


       </div>
       <form id="form_add_product" method="post">
           <div class="cart-main">

                       
                           <div class="cart-item product-item">
                           <div class="cart-item-left">
                               <div class="cart-img">
                                   <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/1992/281493/281493-600x600.jpg" alt="">
                               </div>
                               <div class="cart-name-price">
                                   <div class="cart-name">
                                       <span></span>
                                   </div>
                                   <div class="cart-price" style="margin-top:10px;">
                                       <h3>100000</h3>
                                       <b>đ</b>
                                   </div>
                               </div>
                           </div>
                           <div class="cart-item-right">
                               <div class="quantity-product">
                                   <div class="box-quantity-product">
                                       <input data-view-id="<?= $item['id'] ?>" type="button" value="-" class="minus tru">
                                       <input readonly type="number" name="quantity"  class="value-quantity">
                               <input data-view-id="" type="button" value="+" class="increase cong">
                                   </div>
                               </div>
                               <div class="total-item">
                                   <div class="total-title" style="text-align:end;">
                                       <span>Tổng tiền:</span>
                                   </div>
                                   <div class="total-item-main">
                                       <h3 style="text-align:end;" class="product__final-prices">
                                       
                                   </h3>
                                       <b>đ</b>
                                   </div>
                                   <div data-id="<?= $item['id']?> "class="cart-item-delete" >                               
                                       <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" alt="deleted">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="cart-item product-item">
                        <div class="cart-item-left">
                            <div class="cart-img">
                                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/1992/281493/281493-600x600.jpg" alt="">
                            </div>
                            <div class="cart-name-price">
                                <div class="cart-name">
                                    <span></span>
                                </div>
                                <div class="cart-price" style="margin-top:10px;">
                                    <h3>100000</h3>
                                    <b>đ</b>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item-right">
                            <div class="quantity-product">
                                <div class="box-quantity-product">
                                    <input data-view-id="<?= $item['id'] ?>" type="button" value="-" class="minus tru">
                                    <input readonly type="number" name="quantity"  class="value-quantity">
                            <input data-view-id="" type="button" value="+" class="increase cong">
                                </div>
                            </div>
                            <div class="total-item">
                                <div class="total-title" style="text-align:end;">
                                    <span>Tổng tiền:</span>
                                </div>
                                <div class="total-item-main">
                                    <h3 style="text-align:end;" class="product__final-prices">
                                    
                                </h3>
                                    <b>đ</b>
                                </div>
                                <div data-id=""class="cart-item-delete" >                               
                                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" alt="deleted">
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="cart-footer-box">
                   <div class="cart-footer">
                       <div class="total-main">
                           <span>Thành tiền: </span>
                           <h1 style="font-weight: 600;color:red;"class="prices__value--final"></h1>
                           <b style="color:red;">đ</b>
                       </div>
                       <div class="cart-footer-main">
                           <div class="continue-buy">
                               <a href="" class="tag-a">
                                   Tiếp tục mua hàng
                               </a>
                           </div>
                           <div class="dat-hang button_gradient">
                               <a href="checkouts" class="tag-a">
                                   Đặt hàng ngay
                               </a>
                                       <a href="" class="tag-a">
                                   Đặt hàng ngay
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
       
                   <div class="cart-empty-main" style="display: block;">
                       <div class="">
                           <div class="box-img-cart-empty">
                               <img src="" alt="">
                           </div>
                           <div class="cart-empty-main-title">
                               <span>GIỎ HÀNG TRỐNG</span>
                           </div>
                           <a href="" class="tag-a">
                               <div class="continue_view" style="width:200px;margin-top:40px; margin-left:15px;">
                                   <i class="fas fa-long-arrow-alt-left"></i>
                                   <span>QUAY LẠI CỬA HÀNG</span>
                               </div>
                           </a>
                       </div>
                   </div>
          

               
             
           </div>
       </form>
   </div>
</div>