<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <form [formGroup]="formData" (ngSubmit)="handleSubmit()">
                    <label
                        for="name"
                        class="block text-900 text-xl font-medium mb-2"
                        >Name</label
                    >
                    <input
                        id="name"
                        type="text"
                        placeholder="Name"
                        pInputText
                        class="w-full md:w-30rem mb-2"
                        style="padding: 1rem"
                        formControlName="name"
                        required
                        name="name"
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted && !formData.controls['name'].valid
                        }"
                    />
                    <div
                        style="color: red"
                        class="ng-dirty ng-invalid py-2"
                        *ngIf="submitted && !formData.controls['name'].valid"
                    >
                        Name is required.
                    </div>
                    <label
                        for="email1"
                        class="block text-900 text-xl font-medium mb-2"
                        >Email</label
                    >
                    <input
                        id="email1"
                        type="text"
                        placeholder="Email address"
                        pInputText
                        class="w-full md:w-30rem mb-2"
                        style="padding: 1rem"
                        formControlName="email"
                        required
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted && !formData.controls['email'].valid
                        }"
                    />
                    <div
                        style="color: red"
                        class="ng-dirty ng-invalid py-2"
                        *ngIf="submitted && !formData.controls['email'].valid"
                    >
                        Email is required.
                    </div>
                    <label
                        for="password1"
                        class="block text-900 font-medium text-xl mb-2"
                        >Password</label
                    >
                    <p-password
                        id="password1"
                        placeholder="Password"
                        [toggleMask]="true"
                        formControlName="password"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted &&
                                !formData.controls['password'].valid
                        }"
                        styleClass="mb-2"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        required
                    ></p-password>
                    <div
                        style="color: red"
                        class="ng-dirty ng-invalid py-2"
                        *ngIf="
                            submitted && !formData.controls['password'].valid
                        "
                    >
                        Password is required.
                    </div>
                    <label
                        for="confirmPassword"
                        class="block text-900 font-medium text-xl mb-2"
                        >Confirm Password</label
                    >
                    <p-password
                        id="confirmPassword"
                        placeholder="Password"
                        [toggleMask]="true"
                        formControlName="confirmPassword"
                        styleClass="mb-2"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted && !formData.controls['name'].valid
                        }"
                        required
                    ></p-password>
                    <div
                        style="color: red"
                        class="ng-dirty ng-invalid py-2"
                        *ngIf="
                            submitted &&
                            !formData.controls['confirmPassword'].valid
                        "
                    >
                        ConfirmPassword is required.
                    </div>
                    <div
                        class="flex align-items-center justify-content-between mb-5 gap-5"
                    >
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            routerLink="/login"
                            >Login</a
                        >
                    </div>
                    <button
                        pButton
                        pRipple
                        label="Register"
                        class="w-full p-3 text-xl"
                    ></button>
                </form>
            </div>
        </div>
    </div>
</div>
