 
 <main>
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">🍀 Clover Clothing</a>
      </div>
      <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-list">
      <li><a href="#!">Home</a></li>
      <li><a href="#!">Shop</a></li>
      <li>
        <a href="#!">Services</a>
        <ul class="nav-dropdown">
          <li><a href="#!">Web Design</a></li>
          <li><a href="#!">Web Development</a></li>
          <li><a href="#!">Graphic Design</a></li>
        </ul>
      </li>
      <li><a href="#!">About Us</a></li>
      <li><a href="#!">Contact</a></li>
    </ul>
  </nav>
      </div>
  </section>
   <router-outlet></router-outlet>
   <footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>company</h4>
         <ul>
           <li><a href="#">about us</a></li>
           <li><a href="#">our services</a></li>
           <li><a href="#">privacy policy</a></li>
           <li><a href="#">affiliate program</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>get help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">shipping</a></li>
           <li><a href="#">returns</a></li>
           <li><a href="#">order status</a></li>
           <li><a href="#">payment options</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>online shop</h4>
         <ul>
           <li><a href="#">watch</a></li>
           <li><a href="#">bag</a></li>
           <li><a href="#">shoes</a></li>
           <li><a href="#">dress</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
 </main>
