<main>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a routerLink="/">🍀 MT Phone</a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="about">About Us</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                    <li>
                        <a routerLink="cart">
                            <i class="pi pi-shopping-cart"></i>
                            Cart</a
                        >
                    </li>
                    <li>
                        <a routerLink="register">
                            <i class="pi pi-user"></i>
                            Register</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <router-outlet></router-outlet>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="pi pi-facebook"></i></a>
                        <a href="#"><i class="pi pi-twitter"></i></a>
                        <a href="#"><i class="pi pi-instagram"></i></a>
                        <a href="#"><i class="pi pi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</main>
