<div class="">
    <section class="banner">
        <div class="container">
            <h1>About us</h1>
            <p>
                Consectetur adipisicing elituscipit quidem facere itaque
                molestias vitae.
            </p>
        </div>
        <!-- .container -->
    </section>
    <!-- .banner -->
    <section class="first">
        <div class="container">
            <h3>MT Phone</h3>
            <p>
                Labore quasi
                <strong>abneque asperiores repellendus</strong> praesentium in!
                Necessitatibus excepturi, accusantium esse eos nulla odit dicta
                deserunt iusto. Tuasi ablabore neque
                <u>asperiores repellendus praesentium</u> in! Necessitatibus
                excepturi, accusantium esse eos nulla odit dicta deserunt iusto
                soluta. Labore quasi ab neque asperiores repellendus
                praesentium.
            </p>
            <a class="cta" routerLink="contact">Contact</a>
        </div>
    </section>
</div>
